.commentsButton {
   display: flex;
   align-items: normal;
}

.commentsButton * {
   color: var(--greyC4);
}

.commentsNumber {
   padding: 0 0 0 6px;
   font-size: 12px;
   line-height: 14px;
}

@media all and (min-width: 1024px) {
   .commentsButton {
      display: none;
   }
}