.dropdown {
	position: absolute;
	right: 0;
	top: 19px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	background-color: var(--white);
	z-index: 5;
}

.closeButton {
	background-color: var(--greyD9);
	padding: 12px 23px;
	border-radius: 0 0 3px 3px;
	width: 100%;
}
